/* Обнуление стилей */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  scroll-behavior: smooth;
}